.register-content {
	padding-top: 60px;

	@media only screen and (max-width: 770px) {
		padding-top: 10px;
	}

	.card {
		padding: 10px;

		h1 {
			color: black;
		}

		p {
			text-align: center;

			.bold {
				font-weight: bold;
			}
		}

		.form-section {
			display: inherit;
			flex-direction: inherit;
			align-items: inherit;
			width: inherit;
			margin: 10px;

			.text-input {
				max-width: 400px;
				margin: 5px;
			}
		}

		.button {
			margin: 10px;
		}
	}
}
