.text-area {
	width: 100%;
	max-width: 500px;
	max-height: 300px;
	padding: 10px;
	font-size: 18px;
	outline: none;
	border: none;
	border: 1px solid #a7a7a7;
	border-radius: 10px;
	transition: 0.5s;
	resize: none;

	&:focus {
		border: 1px solid black;
	}

	&::placeholder {
		color: #7d7d7d;
	}
}
