@mixin wrapText {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
}

.dash-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex: 1;

	h1, h2 {
		color: white;
	}

	h2 {
		margin-top: 15px;
	}

	.activities {
		font-weight: bold;
	}

	.card {
		margin: 10px;
	}

	.date-display {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 10px;
		text-align: center;
		background-color: #bbbbbb;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		font-size: 20px;
		font-weight: bold;
		position: relative;
	}

	.day-main {
		display: flex;
		width: 100%;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;

		.mood {
			float: left;
		}

		.day-note {
			width: 100%;
			margin-left: 20px;
			font-size: 18px;

			@include wrapText;
		}
	}

	.day-items {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 90%;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.item {
		margin-top: 10px;
	}
}
