.dash-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex: 1;

	h1, h2 {
		color: white;
		text-align: center;
	}

	h2 {
		margin-top: 15px;

		&.error-message {
			color: #db5151
		}
	}

	.activities {
		font-weight: bold;
	}

	.card {
		margin: 10px;
	}
}
