@import url('https://fonts.googleapis.com/css?family=Montserrat|Pacifico');

* {
	margin: 0;
  padding: 0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
	min-height: 100%;
	width: 100%;
}

body {
	background: #0f132f;

	@supports (background: linear-gradient(to bottom right, #0f132f 0%, #003366 100%)) {
		background: linear-gradient(to bottom right, #0f132f 0%, #003366 100%);
	}
}

a {text-decoration: none;}

noscript {
	margin-top: 30px;
  color: white;
  text-align: center;
}

form {
	display: inherit;
	flex-direction: inherit;
	align-items: inherit;
	width: inherit;
}

#nprogress .bar {
  background-color: #0a6acc;
}

#nprogress .peg {
  box-shadow: none;
}

.toast-notification {
	min-height: 50px;
	border-radius: 10px;
}

.separate-line {
	width: 90%;
	max-width: 500px;
	height: 1px;
	margin: 10px;
	background-color: gray;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
}

.page-content {
	display: flex;
	justify-content: center;
	flex: 1;
	width: 100%;
	max-width: 100vw;
	height: 100%;
	padding: 10px;
}

.not-found {
	color: white;
}

.input-message {
	font-weight: bold;
}

.yearly-title {
	font-family: 'Pacifico', cursive;
}
